@model LibraryManagementSystemHtmx.Models.TableData;

<div>
  <div>
    <input
      type="text"
      asp-for="SearchQuery"
      hx-get="@Url.Page("", "Search")"
      hx-target="#rows-content"
      hx-trigger="keyup changed delay:250ms"
      hx-boost="change"
      class="form-control" 
      placeholder="Search"
    />
  </div>
  <table class="table is-fullwidth table-bordered">
    <thead>
      <tr>
        @foreach (var column in @Model.Columns)
        {
          <th>@column</th>
        }
        <th></th>
      </tr>
    </thead>
    <tbody id="rows-content">
      @await Html.PartialAsync("~/Pages/Shared/_Rows.cshtml",  @Model)
    </tbody>
  </table>
</div>