@model LibraryManagementSystemHtmx.Models.Book;

<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content p-3" style="text-align: left;">
    <form
      method="post"
      asp-page-handler="OnPost"
    >
      <div class="mb-3">
        <label asp-for="Isbn" class="form-label">ISBN</label>
        <input class="form-control" type="text" asp-for="Isbn" />
      </div>
      <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
      </div>
      <div class="mb-3">
        <label asp-for="Author" class="form-label">Author</label>
        <input class="form-control" type="text" asp-for="Author" />
      </div>
      <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
      </div>
      <button 
        type="submit" 
        class="btn btn-primary"
      >Save</button>
    </form>
  </div>
</div>